<% @posts.each do |post| %>
  <div class="well">
    <%=link_to post_path(post.id) do%>
    <%= post.title %> <br>
    <% end %>
    <%= post.content %> <br>
    <%= post.created_at.strftime("%B %d, %Y") %> <br>
    <%= post.user.email %> <br>
    <% if post.user == current_user %>
    <%= link_to "<span class='glyphicon glyphicon-pencil'><span>".html_safe,  edit_user_post_path(current_user, post.id) %>
    <%= link_to "<span class='glyphicon glyphicon-trash'><span>".html_safe, user_post_path(current_user, post),:data => {:confirm => "You sure?",:method => "delete"} %>
    <%end%>
  </div>
<%end%>
