<% if user_signed_in? %>
  <%= link_to "Back", user_posts_path(current_user)%>
  <% if @post.user == current_user %>
    <%= link_to "<span class='glyphicon glyphicon-pencil'><span>".html_safe,  edit_user_post_path(current_user, @post.id) %>
    <%= link_to "<span class='glyphicon glyphicon-trash'><span>".html_safe, user_post_path(current_user, @post),:data => {:confirm => "You sure?",:method => "delete"} %>
  <%end%>
<%else%>
    <%= link_to "Back", posts_path%>
<%end%>

<div class ="well">
  <%= @post.title %> <br>
  <%= @post.content %> <br>
  <%= @post.user.email %> <br>
</div>
