<% if user_signed_in? %>
  <%= link_to "Back", user_posts_path(current_user)%>
  <% if @post.user == current_user %>
    <%= link_to "<span class='glyphicon glyphicon-pencil'><span>".html_safe,  edit_user_post_path(current_user, @post.id) %>
    <%= link_to "<span class='glyphicon glyphicon-trash'><span>".html_safe, user_post_path(current_user, @post),:data => {:confirm => "You sure?",:method => "delete"} %>
  <%end%>
<%else%>
    <%= link_to "Back", posts_path%>
<%end%>

<div class ="well">
  <%= @post.title %> <br>
  <%= markdown(@post.content) %> <br>
  <%= @post.user.email %> <br>
</div>
<h2>Comments</h2>
<% if @post.comments.empty? %>
  <p>There are no comments yet</p>
<% end %>
<div class="comments-container">
</div>

<%if user_signed_in?%>
  <%= form_for [@post, @comment], remote: true, class:"new-comment" do |f| %>
    <%=f.text_area :content, size: "60x2"%> <br>
    <%=f.submit "Comment", :disable_with => 'Creating...', class: "btn btn-primary" %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    loadComments()
  })
  function loadComments(){
    $.ajax({
      method: "GET",
      contentType: 'application/json',
      url: "<%= post_comments_path @post %>"
    }).done(function(data, status, xhr){
      drawComments(data)
    }).fail(function(xhr, satus, error){
      alert('Algo salio mal con el request ajax')
    })
  }

  function drawComments(data){
    var commentsToAdd = ''
    data.forEach(function(comment){
      commentsToAdd += '<h6>' + comment.content + '<h6><h5>' + comment.user.email + '</h5>'
    })
    $('.comments-container').html(commentsToAdd)
  }


</script>
